<div class="maincontent">
<hr>
<p class="ricercaavanzata"><%= link_to "Ricerca Avanzata", new_vegetalisearch_path %></p>
<hr>
<p class="pulsanteblu"><%= link_to "Consulta tutti i Progetti", menumetadati_path %><br/></p>
<hr><br>
<h2>Modulo 3-Sezione botanica (vegetale)</h2>
<%= will_paginate @segnalazione_vegetalis, :previous_label => 'Prec', :next_label => 'Succ' %>
<table class="table1">
  <tr>
    
    <th>Titolo:</th><br>
    <th>Famiglia-Oss. Macroscopiche</th>
    <th>Famiglia-Oss. Microscopiche</th>
    <th>Creato il:</th>
    <th></th>
        
  </tr>
    <% @segnalazione_vegetalis.each do |segnalazione_vegetali| %>
      <tr>
        <td><%= segnalazione_vegetali.Titolo %></td>
        <td><%= segnalazione_vegetali.famiglia_macro %></td>
        <td><%= segnalazione_vegetali.famiglia_micro %></td>
        <td><%= l(segnalazione_vegetali.created_at, format:"%e %B %Y %k:%M:%S") %></td>
        <td><%= link_to 'Mostra', [segnalazione_vegetali.user, segnalazione_vegetali], :target => "_blank" %></td>
    
  </tr>
   <% end %>
</table>
<%= will_paginate @segnalazione_vegetalis, :previous_label => 'Prec', :next_label => 'Succ' %>
<br/><br/><br/><br/>
<hr>
<p class="pulsanteverde"><%= link_to 'Nuova Segnalazione', segnalazioni_path %>
<p class="pulsanteblu"><%= link_to 'Torna alla pagina Utente', user_pages_path %></p>
<hr>
<br/><br/><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>
