<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @organizzazione_di_riferimento.nome %>
</p>

<p>
  <strong>Nazione:</strong>
  <%= @organizzazione_di_riferimento.nazione %>
</p>

<p>
  <strong>Regione:</strong>
  <%= @organizzazione_di_riferimento.regione %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @organizzazione_di_riferimento.provincia %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @organizzazione_di_riferimento.indirizzo %>
</p>

<p>
  <strong>Referente:</strong>
  <%= @organizzazione_di_riferimento.referente %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organizzazione_di_riferimento.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @organizzazione_di_riferimento.tel %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @organizzazione_di_riferimento.cell %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organizzazione_di_riferimento.url %>
</p>

<p>
  <strong>Modulo2:</strong>
  <%= @organizzazione_di_riferimento.modulo2 %>
</p>

<%= link_to 'Edit', edit_organizzazione_di_riferimento_path(@organizzazione_di_riferimento) %> |
<%= link_to 'Back', organizzazione_di_riferimentos_path %>
