<div class ="container">
<div class="center hero-unit">
<h1>Riserva Naturale</h1>
<h2>"Montagna di Torricchio"</h2>
<h3> Settore Metadati </h3>
</div>
<%= render 'layouts/shim' %>
<%= render 'layouts/header' %>
<%= yield %>   
</div>
<div class="container">
<%= render 'layouts/sidebar' %>
<%= render 'layouts/login' %>
</div>

