<h2>Progetto</h2><br/>

  <div class="form-field">  
    <%= f.label :sottoprogetti %><br>
    <%= f.text_area :sottoprogetti %>
  </div>
  <div class="form-field">  
    <%= f.label :difficolta,"Difficolta'" %><br>
    <%= f.text_area :difficolta %>
  </div>
  <div class="form-field">  
    <%= f.label :suggerimenti %><br>
    <%= f.text_area :suggerimenti %>
  </div>
  <div class="form-field">  
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>