<h2>Disegno sperimantale</h2><br/>
  <div class="form-field">  
    <%= f.text_area :disegno_sperimentale %>
  </div>
  <h2>Metodo/i di campionamento</h2><br/>
  <div class="form-field">  
    <%= f.label :metodo_campionamento %><br>
    <%= f.text_area :metodo_campionamento %>
  </div>
  <div class="form-field">  
    <%= f.label :descrizione_campioni %><br>
    <%= f.text_area :descrizione_campioni %>
  </div>
  <h2>Variabili Ambientali</h2><br/>
  <div class="form-field">  
    <%= f.label :variabili_ambientali %><br>
    <%= f.text_area :variabili_ambientali %>
  </div>
  <h2>Altre Variabili</h2><br/>
  <div class="form-field">  
    <%= f.label :altre_variabili %><br>
    <%= f.text_area :altre_variabili %>
  </div>