<div class="items">
<div class="form-field1">     
   <%= f.label :Aree %>
  <%= f.text_field :nome %>

  <%= f.label :localizzazione %>
  <%= f.text_field :localizzazione %>
  
  <%= f.label :ev_descrizione %>
  <%= f.text_field :ev_descrizione %><br/>
  
  <%= f.hidden_field :id %> 
</div> 
 <%= f.link_to_remove "Rimuovi Area" %>
</div><br/><br/>