<div class="form-field">   
<div class="items">  
<div class="form-field1">      
    <%= f.label :genere,"Genere e Specie(o Epiteto)" %>
    <%= f.text_field :genere %>
  
    <%= f.label :riferimento,"Autore o sistema tassonomico di riferimento(es.: flora)" %>
    <%= f.text_area :riferimento %>
  
    <%= f.label :famiglia %>
    <%= f.text_field :famiglia %>
  
    <%= f.label :ordine %>
    <%= f.text_field :ordine %>
  
    <%= f.label :note %>
    <%= f.text_area :note %>
  
    <%= f.label :referenze,"Referenze di identificazione" %>
    <%= f.text_area :referenze %>
  
    <%= f.label :descrizione %>
    <%= f.text_area :descrizione %> <br/><br/>
</div>
    <%= f.hidden_field :id %> 
 
 <%= f.link_to_remove "Rimuovi Organismo" %><br/><br/>

</div>
</div>