
  <div class="items">
<div class="form-field1">     
   <%= f.label :punti %>
  <%= f.text_field :punti %>

  <%= f.label :coordinate %>
  <%= f.text_field :coordinate %>
  
  <%= f.label :ev_descrizione %>
  <%= f.text_field :ev_descrizione %><br/>
  
  <%= f.hidden_field :id %> 
</div> 
 <%= f.link_to_remove "Rimuovi Riferimento Spaziale" %>
</div><br/><br/>

