<div class="maincontent">
<hr>
<p class="pulsanteblu"><%= link_to "Consulta tutti i Progetti", menumetadati_path %><br/></p>
<hr>
<p class="pulsanteblu"><%= link_to "Mostra proposte effettuate da questo utente", [@modulo2.user, @modulo2] %></p>
<hr>
<br/>

<%= render 'form' %>
<br/><br/>
<hr>
<p class="pulsanteblu"><%= link_to 'Torna alla pagina Utente', user_pages_path %></p>
<hr><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>
